* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
  }
  
  /* styling for page */
  .page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* styling for container */
  .cover {
    background-color: white;
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
    /* styling for tenant button */
  .tenant-btn {
    width: 80%;
    height: 4em;
    background-color: rgb(32, 121, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
    color: white;
  }
  
  /* styling for landlord button */
  .landlord-btn {
    width: 80%;
    height: 4em;
    background-color: rgb(32, 121, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
    margin-bottom: 20%;
    color: white;
  }
 
  
  /* -------------------- TABLET OPTIMIZATION -------------------- */
@media only screen and (min-device-width: 37em) {
  .page {
      font-size: 1em;
  }

  .cover {
      width: 60%;
      height: 70%;
  }
}

/* -------------------- DESKTOP OPTIMIZATION -------------------- */
@media only screen and (min-device-width: 64em) {
  .page {
      font-size: 1.25em;
  }

  .cover {
      width: 20%;
      height: 50%;
  }
}

  