.passwordToggle {
    border: none;
    background-color: rgb(229, 226, 226);
    height: 3em;
    width: 80%;
    border-radius: 0.25em;
    padding: 0%;
}



.passwordInput {
    border: none;
    background-color: rgb(229, 226, 226);
    height: 3em;
    width: 80%;
    border-radius: 0.25em;
    text-align: left;
    left: 0em;
    padding-left: 0.5em;
    
}