.passwordToggle {
    border: none;
    background: rgb(229, 226, 226);
    height: 3em;
    width: 80%;
    border-radius: 0.25em;
    outline: none;
    padding: 0%;
}



.passwordInput {
    border: none;
    outline: none;
    background: rgb(229, 226, 226);
    height: 3em;
    width: 80%;
    border-radius: 0.25em;
    text-align: left;
    left: 0em;
    padding-left: 0.5em;
    
}